.footer
    .conatiner
        div Lorem ipsum dolor sit amet consectetur adipisicing el
            |At ad dolorem consequatur recusandae similique blanditiis nihil maxime rem reprehenderit saepe nisi nostrum, architecto repellat, ut ratione ducimus facilis eligendi obcaecati.
        .socseti
            span
                img(src="img/facebook.png", alt="")

            span


                img(src="img/vk-social-logotype.png", alt="")

